<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My Portfolio</title>
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1>Portfolio</h1>
            <table>
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Name</th>
                        <th>Shares</th>
                        <th>Price</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in stocks %}
                    <tr>
                        <td>{{ stock.symbol }}</td>
                        <td>{{ stock.name }}</td>
                        <td>{{ stock.shares }}</td>
                        <td>{{ stock.price }}</td>
                        <td>{{ stock.total }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h3>Cash: ${{ cash }}</h3>
        </div>
    </body>
</html>
