<!-- templates/layout.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav>
                <a href="{{ url_for('index') }}">Portfolio</a>
                <a href="{{ url_for('buy') }}">Buy</a>
                <a href="{{ url_for('sell') }}">Sell</a>
                <a href="{{ url_for('history') }}">History</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            </nav>
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
    </body>
</html>
